*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: "system-ui";
}

h2{
    color: white;
}
/* .portada{
    height: 100vh;
    width: 100vh;
} */

.img-felino{
    height: 350px;
    /* overflow: hidden; */
}

.front-image{
    width: 100vh;
    height: 100vh;
    background-image: url(./img/portada1.jpeg);
    background-size: cover;
}

.img-felino-cont{
    /* width: 300px; */
    height: 350px !important;
    cursor: pointer;
    overflow: hidden;
}

.card img{
    height: 100%;
    width: 100%;
}

.desc-animal{
    color: yellow ;
}

.verAnimal{
    width: 80px;
}

.def-title{
    font-size: 5.8rem;
}
/* .body-card{
    margin-top: 180px;
} */